<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/produtos" method="POST">
		<div>
			<label for="titulo">Titulo</label>
			<input type="text" id="titulo" name="titulo" placeholder="Titulo do livro" />
		</div>
		<div>
			<label for="preco">Preco</label>
			<input type="text" id="preco" name="preco" placeholder="Preco do livro" />
		</div>
		<div>
			<label for="descricao">Descricao</label>
			<textarea col="20" row="10" id="descricao" name="descricao" placeholder="Descricao do livro" ></textarea>
		</div>
		<input type="submit" value="gravar" /> 
	</form>
</body>
</html>