<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Listagem de Produtos</h1>

	<table border="1">
		<tr>
			<td><strong>Tecnologia</strong></td>
			<td><strong>Lib</strong></td>
		</tr>
		<tr>
			<td>Node</td>
			<td>Express</td>
		</tr>
		<tr>
			<td>Node</td>
			<td>EJS</td>
		</tr>
	</table>
</body>
</html>